* {
  box-sizing: border-box;
}

.body {
  padding: 30px 30px 30px 30px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000000;
  font-weight: 400;
  background: #7e7b7b;

}

@media (max-width: 1050px) {
  .body {
    padding: 0;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  border-radius: 20px;
  background: #ffffff;
}


@media (max-width: 1050px) {
  .container {
    max-width: 360px;
    border-radius: 10px;
  }
}

.main {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

@media (max-width: 1050px) {
  .main {
    flex-direction: column;
    padding: 0 16px 0 16px;
  }
}

.information-payment {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  padding: 150px 0 150px 30px;
}

@media (max-width: 1050px) {
  .information-payment {
    width: 100%;
    padding: 0;
  }
}

.information-payment::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  border-left: 4px solid #B3B4B6;
  opacity: 0.2;
}

@media (max-width: 1050px) {
  .information-payment::before {
    display: none;
  }
}

.payment-title {
  width: 300px;
  margin: 0 auto;
  padding: 0 0 60px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #101010;
}

@media (max-width: 1050px) {
  .payment-title {
    padding: 50px 0 40px 0;
    margin: 0 auto;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }
}

@media (max-width: 1050px) {
  .check-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 43px 0;
  }
}

.payment-check {
  padding: 0;
  margin: 0 auto;
  width: 300px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #B3B4B6;
}

@media (max-width: 1050px) {
  .payment-check {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
  }
}

.sum-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 10px;
  padding: 0 0 0 0;
  margin: 0 auto;
  width: 300px;
}

@media (max-width: 1050px) {
  .sum-wrapper {
    justify-content: end;
    padding: 0;
    margin: 0;
  }
}

.payment-sum {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #101010;
}

@media (max-width: 1050px) {
  .payment-sum {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
}

.payment-currency {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #B3B4B6;
}

@media (max-width: 1050px) {
  .payment-currency {
    font-size: 18px;
    line-height: 22px;
  }
}

.attention {
  width: 295px;
  padding: 0;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #B3B4B6;
}

@media (max-width: 1050px) {
  .attention {
    width: 250px;
    margin: 0;
    padding: 0 0 24px 0;
    font-size: 16px;
    line-height: 24px;
  }
}

.message {
  display: none;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 44px;
  min-width: 328px;
  max-width: 590px;
  margin: 0 auto;
  padding-left: 10px;
  border-radius: 10px;
}

@media (max-width: 1050px) {
  .message {
    min-height: 37px;
  }
}

.err .message {
  position: absolute;
  top: -15%;
  display: flex;
  border: 1px solid #eb5757;
  background: #fff0f0;
}

@media (max-width: 1050px) {
  .err .message {
    bottom: 20px;
    top: unset;
  }
}

.success .message {
  position: absolute;
  top: -15%;
  display: flex;
  border: 1px solid #27ae60;
  background: #e8fff1;
}

@media (max-width: 1050px) {
  .success .message {
    bottom: 20px;
    top: unset;
  }
}

.message-text {
  padding: 0;
  margin: 0;
  font-size: 20px;
}

@media (max-width: 1050px) {
  .message-text {
    font-size: 14px;
  }
}

.err .message-text {
  color: #eb5757;
}

.success .message-text {
  color: #27ae60;
}

.message-icon {
  min-width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (max-width: 1050px) {
  .message-icon {
    min-width: 16px;
    height: 16px;
  }
}

.err .message-icon {
  background-image: url("svg/attention.svg");
}

.success .message-icon {
  background-image: url("svg/success.svg");
}

.information-card {
  display: flex;
  flex-direction: column;
  align-self: end;
  max-width: 940px;
  min-width: 650px;
  width: 100%;
  padding: 150px 30px 0 30px;
}

@media (max-width: 1050px) {
  .information-card {
    min-width: 328px;
    padding: 0;
  }
}

.form-payment {
  position: relative;
  width: 590px;
  margin: 0 auto;
}

@media (max-width: 1050px) {
  .form-payment {
    width: 328px;
  }
}

.form-container {
  height: 355px;
  padding: 50px 50px 50px 50px;
  border-radius: 20px;
  box-shadow: 0 70px 25px -45px rgba(66, 121, 239, 0.5);
  background: #4279ee;
}

@media (max-width: 1050px) {
  .form-container {
    height: 210px;
    padding: 25px 23px 25px 23px;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.text-card {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 0.7;
}

@media (max-width: 1050px) {
  .text-card {
    font-size: 12px;
    line-height: 16px;
  }
}

.card-number {
  padding: 0 0 40px 0;
  color: #ffffff;
}

@media (max-width: 1050px) {
  .card-number {
    padding: 0 0 10px 0;
  }
}

.card-number::placeholder {
  color: #ffffff;
}

.date-container {
  display: flex;
  gap: 41px;
  padding: 0 0 30px 0;
}

@media (max-width: 1050px) {
  .date-container {
    padding: 0 0 10px 0;
  }
}

.date-wrapper {
  padding: 0;
}

.divider {
  padding: 0 5px 0 5px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
  font-size: 22px;
  opacity: 0.3;
}

@media (max-width: 1050px) {
  .divider {
    font-size: 19px;
  }
}

.cvc-wrapper {
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card-input {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  letter-spacing: 4px;
  text-transform: uppercase;
  border: none;
  background: transparent;
  transition: .3s;
  padding: 10px 0 0 0;

}

@media (max-width: 1050px) {
  .card-input {
    padding: 5px 0 0 0;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 3px;
  }
}

.card-input:focus {
  outline: none;
  border-bottom-color: #ffffff;
}

.card-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
  text-shadow: none;
}

.holder-wrapper {
  padding: 0;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  padding: 70px 0 55px 0;
}

@media (max-width: 1050px) {
  .button-wrapper {
    padding: 24px 0 70px 0;
  }
}

.card-submit:disabled {
  color: #666666;
  cursor: not-allowed;
  box-shadow: 0 15px 15px -8px rgba(66, 121, 239, 0.5);
  background-color: #cccccc;
}

.card-submit {
  width: 590px;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
  border: none;
  box-shadow: 0 35px 35px -16px rgba(66, 121, 239, 0.5);
  background: #4279ee;
}

@media (max-width: 1050px) {
  .card-submit {
    padding: 15px;
    font-size: 18px;
    line-height: 22px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.card-submit:hover {
  background: #346ad2;
}

@media (max-width: 1050px) {
  .card-submit:hover {
    background: #4279ee;
  }
}

.card-submit:active {
  box-shadow: 0 15px 15px -8px rgba(66, 121, 239, 0.5);
}

@media (max-width: 1050px) {
  .card-submit:active {
    box-shadow: none;
  }
}

.card-submit:disabled {
  color: #666666;
  cursor: not-allowed;
  box-shadow: 0 15px 15px -8px rgba(66, 121, 239, 0.5);
  background-color: #cccccc;
}

.security-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding: 0 0 40px 0;
}

@media (max-width: 1050px) {
  .security-container {
    justify-content: center;
    padding: 0 0 50px 0;
  }
}

.security-text {
  width: 80px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #b3b4b6;
}

@media (max-width: 1050px) {
  .security-text {
    min-width: 215px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1050px) {
  .svg-shield {
    height: 21px;
    width: 17px;
  }
}

.cover {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.4);
  z-index: 21;
}

.opened {
  display: flex;
}

.loader:after {
  content: "";
  display: inline-block;
  font-size: 6.2px;
  margin-top: 40px;
  border: 1.2em solid #808080;
  border-right-color: rgba(128,128,128, 0) !important;
  transform: translateZ(0);
  animation: spiner 1s infinite cubic-bezier(0.53, 0.21, 0.57, 0.85), colors 3s infinite cubic-bezier(0.45, -0.03, 1, 0.77);
  border-radius: 50%;
  width: 10em;
  height: 10em;
  position: absolute;
  top: 50%;
  right: 50%;
  right: calc(50% - 5em);
  z-index: 30;
}

@media (max-width: 1050px) {
  .loader:after{
    width: 5em;
    height: 5em;
    right: calc(50% - 2em);
  }
}

@keyframes colors {
  0% {
    border-color: #a0a0a0;
    border-bottom-color: transparent;
  }
  33% {
    border-color: #c0c0c0;
    border-bottom-color: transparent;
  }
  66% {
    border-color: #e0e0e0;
    border-bottom-color: transparent;
  }
  100% {
    border-color: #a0a0a0;
    border-bottom-color: transparent;
  }
}

@keyframes spiner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
